form {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  margin-top: 1.25em;
}

select {
  font-family: 'HyliaSerifBeta-Regular';
  text-align: center;
  /* font-size: 20px; */
  font-size: 1.25em;
  width: 300px;
}

select:hover {
  cursor: pointer;
}

