form {
  display: flex;
  justify-content: center;
  margin-top: 1.25em;
}

select {
  font-family: 'HyliaSerifBeta-Regular';
  text-align: center;
  font-size: 1.25em;
  border: none;
  width: 300px;
  /* border: 2px solid #536f50; */
  height: 2em;
  box-shadow: 0px 0.2em 0.5em #536f50;
  border-radius: 5px;
}

select:hover {
  cursor: pointer;
}
