.welcome-wrapper {
  font-family: 'HyliaSerifBeta-Regular';
  /* background-color: rgb(118, 118, 118, .6); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  background-color: rgb(118, 118, 118, .6);
}

.welcome-container {
  height: 51vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.welcome-title {
  font-family: 'HyliaSerifBeta-Regular';
  font-size: 36px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #536f50;
}

.gif-wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
}

.welcome-gif {
  width: 60%;
  border-radius: 5%;
  box-shadow: 0px 0.2em 0.5em #7EF0F4;
}