@font-face {
  font-family: 'HyliaSerifBeta-Regular';
  src: local('HyliaSerifBeta-Regular'), url('../../assets/HyliaSerifBeta-Regular.otf') format('opentype')
}

a {
  text-decoration: none;
}

/* header {
  background-color: rgb(118, 118, 118, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.header-title {
  font-family: 'HyliaSerifBeta-Regular';
  font-size: 36px;
  text-align: center;
  color: #7EF0F4;
  text-shadow: 2px 2px #536f50;
} */

.main-container {
  background-image: url('../../assets/Picture1.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
  height: 100vh;
}

.app-error {
  font-family: 'HyliaSerifBeta-Regular';
  text-align: center;
  color: #C62408;
  font-size: 1.2em;
  padding-top: 0.5em;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-msg {
  font-family: 'HyliaSerifBeta-Regular';
  text-align: center;
  font-size: xx-large;
}

.loading-img {
  height: 6em;
}