header {
  background-color: rgb(118, 118, 118, .6);
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
  height: 5rem;
  font-family: 'HyliaSerifBeta-Regular';
  width: 100%;
  border: 2px solid red;
}

.title-container {
  display: flex; 
  /* justify-content: center;
  align-items: center;  */
  border: 2px solid green;
  margin-left: 2em;
  /* width: 75%; */
} 

.header-title {
  /* font-family: 'HyliaSerifBeta-Regular'; */
  font-size: 36px;
  text-align: center;
  color: #7EF0F4;
  text-shadow: 2px 2px #536f50;
  justify-content: center;
}

.nav-link-container {
  display: flex;
  /* justify-content: left; */
  border: 2px solid blue;
  /* margin-right: 2em; */
  /* width: 20%; */
}

.nav-links {
  margin-right:.5em;
}