header {
  background-color: rgb(118, 118, 118, .6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-family: 'HyliaSerifBeta-Regular';
  width: 100%;
  border: 2px solid red;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title-container {
  border: 2px solid green;
  /* margin-left: 2em; */
  /* align-items: center; */
  /* justify-items: center;
  flex-grow: 1; */
  grid-column: 2;
} 

.header-title {
  font-size: 2.25em;
  text-align: center;
  /* justify-self: center; */
  color: #7EF0F4;
  text-shadow: 2px 2px #536f50;
}

.nav-link-container {
  display: flex;
  border: 2px solid blue;
  justify-content: flex-end;
}

.nav-links {
  margin-right:.5em;
  font-size: 1.3em;
  color: black;
}

.active {
  color: #7EF0F4;
  text-decoration: underline;
}

@media screen and (max-width: 400px) {

  .title-container {
    margin-left: 0;
  }

  .nav-links {
    margin-right: .3em;
    font-size: 1em;
    color: black;
  }

}